<h1>Toys#new</h1>
<% if !current_user.school_id %>
  <%= link_to "Join a school before adding a toy!", edit_user_path(current_user) %>
<% else %>
  <div>
    <h3>Add your toy!</h3>
    <%= simple_form_for @toy do |form| %>
    <%= form.input :name %>
    <%= form.select :category, ["card", "pog", "marble", "other"] %>
    <%= form.input :price %>
    <%= form.input :description, as: :text %>
    <%= form.input :photos, as: :attachinary %>
    <%= form.button :submit, 'Add!'%>
    <% end %>
  </div>
<% end %>
