<!-- Toy dedicated card -->
<div class="flexbox">
  <div class="container box description">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1><%= @toy.name %></h1>
        <p>Category: <% @toy.category %>
          <%= @toy.category %>
        </p>

        <div class="product-info">
          <% if @toy.photos? %>
          <% @toy.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 400, height: 300, crop: :fit %>
          <% end %>
          <% else %>
          <%= cl_image_tag("e3b8igydl07dylxnuib9", width: 400, height: 300, crop: :fit) %>
          <% end %>
          <div class="product-details">
            <p>Owner: <%= @toy.user.first_name %></p>
            <p>Price per day: <%= @toy.price %> Candies</p>
            <p>Description: <div><%= @toy.description %></div></p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Set hidden class for the booking if the product is owned -->

  <% if @toy.user == current_user %>
  <% hide_my_toy = "hidden" %>
  <% else %>
  <% hide_my_toy = "" %>
  <% end %>

<!-- Booking card -->

  <div class="container box booking <%= hide_my_toy %>">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Book this toy!</h3>
        <%= simple_form_for([@toy,@transaction]) do |form| %>
        <div class="input-daterange input-group" id="date-picker">
          <%= form.input :start_time, as: :string, input_html: {class: "datepicker"} %>
          <%= form.input :end_time, as: :string, input_html: {class: "datepicker"} %>
        </div>
        <div id="price">Price: <div id="booking-price"> 0 Candies</div></div>

        <% if !user_signed_in? %>

        <%= link_to "Sign-up to book!", new_user_session_path, class: "btn btn-primary" %>
        <!-- TODO Add a callback to come back to this booking page -->
        <% elsif current_user.school_id != @toy.user.school.id %>
        <%= link_to "join the school to book it!", edit_user_path(current_user), class: "btn btn-primay" %>
        <!-- TODO Pre-fill the form with the right school, and add a callback to come back to this booking page -->

        <% else %>
        <%= form.button :submit, 'Book!', class:"btn btn-danger btn-lg btn-block" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- Date picker sceript -->

<% dates=[] %>
<% @toy.transactions.each do |transaction| %>
<% (transaction.start_time..transaction.end_time).to_a.each do |date| %>
<% dates << date.strftime("%m/%d/%Y") %>
<% end %>
<% end %>

<% content_for(:js_date_picker) do %>
<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      weekStart: 1,
      todayBtn: true,
      clearBtn: true,
      startDate: "today",
      daysOfWeekDisabled: "0",
      todayHighlight: true,
      datesDisabled: <%= raw dates %>
    });
    $(document).click(function(){
      var parts = $('#transaction_start_time')[0].value.split('/');
      var beg = new Date (parts[2], parts[0]-1,parts[1]);
      var parts = $('#transaction_end_time')[0].value.split('/');
      var end = new Date (parts[2],parts[0]-1,parts[1]);
      var days = (end - beg) / (1000*60*60*24);
      var price = <%= raw @toy.price %>;
      if (Number.isInteger(Math.abs((Math.round(days) + 1) * price))) {
        $("#booking-price").text(Math.abs((Math.round(days) + 1) * price) + ' Candies')
      }
    });
    });
</script>

<% end %>


