<h1><%= @toy.name %></h1>
<%= cl_image_tag("qgfddkwiddi3qgcf3dev",
      width: 300, height: 300, crop: :fill) %>
<p>Price: @toy.price</p>
<p>Owner: <%= @toy.user.first_name %></p>
<p>Description: <%= @toy.description %></p>


<div>
  <h3>Book this toy!</h3>
  <%= simple_form_for([@toy,@transaction]) do |form| %>
  <%= form.input :start_time %>
  <%= form.input :end_time %>
  <%= form.button :submit, 'Book!'%>
  <% end %>
</div>
