<% school = School.find(params[:id]) %>

<div class="banner-thin" style="background-image: linear-gradient(-225deg, rgba(44, 62, 80, 0.6) 10%, rgba(76, 161, 175, 0.6) 50%), url('<%= cl_image_path("hrenp7omustctiz43hwb") %>');">
  <div class="banner-content">
    <h1><%= school.name %></h1>
    <p>Choose a toy!!</p>
  </div>
</div>

<br>

<!-- construction of the cards -->

<div class="container">
  <div class="row">
    <% @toys.each do |toy| %>
      <!-- determination of the toy photo -->
      <% if toy.photos.first.nil? %>
        <% photo_path = ("e3b8igydl07dylxnuib9") %>
      <% else %>
        <% photo_path = toy.photos.first.path %>
      <% end %>
      <!-- new -->
        <div class="col-xs-12 col-sm-4 hidden">
          <div class="card">
            <%= cl_image_tag photo_path, style: "background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.2))" %>
            <div class="card-category"><%= toy.user.first_name %></div>
            <div class="card-description">
              <h2><%= toy.name %></h2>
              <p><%= toy.description unless toy.description.nil? %></p>
            </div>
            <% avatar_url = toy.user.facebook_picture_url || cl_image_path('mtbg4ch4wojpwppzfhem') %>
            <%= image_tag avatar_url, class: "card-user avatar" %>
            <%= link_to "", toy_path(toy.id), class: "card-link" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Thumbnail-->
          <div class="card">
            <div class="thumbnail">
              <div class="card-user avatar">
                <% avatar_url = toy.user.facebook_picture_url || cl_image_path('mtbg4ch4wojpwppzfhem') %>
                <%= image_tag avatar_url, class: "card-user avatar" %>
              </div>
              <%= cl_image_tag photo_path, class: "card-image" %>
              <%= link_to "", toy_path(toy.id), class: "card-link" %>
            </div>
            <!-- Post Content-->
            <div class="card-content">
              <div class="category"><%= toy.category %></div>
              <h1 class="title"><%= toy.name %></h1>
              <h2 class="sub_title"><%= toy.price %></h2>
              <p class="description"><%= toy.description %></p>
              <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a rel="nofollow" rel="noreferrer"href="#"> 39 comments</a></span>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <!-- Post-->
  </div>
</div>
