<% school = School.find(params[:id]) %>

<div class="banner-thin" style="background-image: linear-gradient(-225deg, rgba(44, 62, 80, 0.6) 10%, rgba(76, 161, 175, 0.6) 50%), url('<%= image_path("school.jpg") %>');">
  <div class="banner-content">
    <h1><%= school.name %></h1>
    <p>Find your toys!!</p>
  </div>
</div>


<h1><%= school.name %></h1>


<% @toys.each do |toy| %>
<ul>
  <li><%= toy.name %> | <%= link_to "See toy details", toy_path(toy.id) %></li>
</ul>
<% end %>


