<% school = School.find(params[:id]) %>

<div class="banner-thin" style="background-image: linear-gradient(-225deg, rgba(44, 62, 80, 0.6) 10%, rgba(76, 161, 175, 0.6) 50%), url('<%= cl_image_path("hrenp7omustctiz43hwb") %>');">
  <div class="banner-content">
    <h1><%= school.name %></h1>
    <p>Choose a toy!!</p>
  </div>
</div>

<br>

<!-- determination of the photo_path -->

<% if toy.photos.first.nil? %>
  <% photo_path = ("e3b8igydl07dylxnuib9") %>
<% else %>
  <% photo_path = toy.photos.first.path %>
<% end %>

<!-- construction of the cards -->

<div class="container">
  <div class="row">
    <% @toys.each do |toy| %>
    <% if toy.user != current_user %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo_path %>');">
          <div class="card-category"><%= toy.user.first_name %></div>
          <div class="card-description">
            <h2><%= toy.name %></h2>
            <p><%= toy.description unless toy.description.nil? %></p>
          </div>
          <% avatar_url = toy.user.facebook_picture_url || cl_image_path('mtbg4ch4wojpwppzfhem') %>
          <%= image_tag avatar_url, class: "card-user avatar" %>
          <%= link_to "", toy_path(toy.id), class: "card-link" %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
