<p> <strong>Toy: <%= Toy.find(transaction.toy_id).name %></strong></p>
<p> From: <%= transaction.start_time %> to <%= transaction.end_time %></p>
<%= link_to "see transaction details...", transactions_bagarre_path(transaction)%>
<% if transaction.validated %>
  <i class="fa fa-check green" aria-hidden="true"> Approved</i>
<% elsif transaction.validated.nil? %>
  <ul class= "list-inline">
    <li>
      <%= simple_form_for([transaction], remote: true) do |f| %>
      <%= f.input :validated, input_html: { value: true }, as: :hidden %>
      <%= f.submit "Accept request?", class: "btn btn-small btn-warning" %>
      <% end %>
    </li>
    <li>
      <%= simple_form_for([transaction], remote: true) do |f| %>
      <%= f.input :validated, input_html: { value: false }, as: :hidden %>
      <%= f.submit "Deny request?", class: "btn btn-small btn-danger" %>
      <% end %>
    </li>
  </ul>
<% else %>
  <i class="fa fa-ban red" aria-hidden="true"> Rejected</i>
<% end %>
<hr>
